.edit-popup-div-window {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff8b;
  z-index: 999;
}

.edit-popup-div-wrapper {
  width: 40%;
  height: 95%;
  margin: 1rem auto;
  background-image: url("/public/assets/imgs/emptyCanvas.png");
  background-repeat: repeat;
  background-size: auto;
  box-shadow: 0.4rem 0.4rem 2px 1px rgba(0, 0, 0, 0.5);
}

.editInputFields {
  width: 50%;
}

#imgPreviewDiv {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
}

#editImgUrlDisplay {
  max-width: 100%;
  max-height: 25rem;
  box-shadow: 0.4rem 0.4rem 2px 1px rgba(0, 0, 0, 0.5);
  margin: 1em 2em 1em 2em;
}

@media (max-width: 767px) {
  #editInputsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #editImgUrlDisplay {
      margin: 0;
      width: 100%;
      order: 1;
    }
    .editInputFields {
      width: 80%;
      order: 2;
    }
    .editBtn {
      order: 3;
    }
  }
}
