#imgExpandPopup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffffa4;
  z-index: 998;
  display: flex;

  #expandWrapper {
    width: 90vw;
    height: 40vw;
    box-shadow: 0.2rem 0.2rem 1px 1px rgba(0, 0, 0, 0.5);
    margin: 2rem auto;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.6);
    img {
      margin: 1em 0 5em 1em;
      box-shadow: 0.2rem 0.2rem 1px 1px rgba(0, 0, 0, 0.5);
    }

    #expandInfo {
      width: 50%;
      margin: 1em 0 1em 1em;
      h3,
      h6 {
        margin-left: 1em;
      }
    }
  }
}

@media (max-width: 576px) {
  #imgExpandPopup {
    #expandWrapper {
      width: 90vw;
      height: 60vh;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      img {
        margin: 0.5rem 0 0.5rem 0;
        width: 70vw;
      }
      #expandInfo {
        margin: 0 0 0.5rem 0;
        width: 70%;
      }
    }
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  #imgExpandPopup {
    #expandWrapper {
      width: 90vw;
      height: 70vh;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      img {
        margin: 0.5rem 0 0.5rem 0;
        width: 90%;
      }
      #expandInfo {
        margin: 0 0 0.5rem 0;
        width: 70%;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #imgExpandPopup {
    #expandWrapper {
      img {
        margin: 1rem 0.5rem 0.5rem 0;
        //width: 30rem;
        //height: 20rem;
      }
      #expandInfo {
        margin: 1rem 0 0.5rem 0;
      }
    }
  }
}

@media (min-width: 992px) {
  #imgExpandPopup {
    #expandWrapper {
      h3 {
        font-size: 2rem;
      }

      h6 {
        font-size: 1.3rem;
      }
      img {
        // width: 50em;
        // height: 30em;
        margin: 1rem 0.5rem 0.5rem 0;
      }
      #expandInfo {
        margin: 1rem 0 0.5rem 0;
      }
    }
  }
}

@keyframes expand {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes coll {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.expand {
  animation: expand 400ms ease;
}

.collapse {
  animation: coll 400ms ease;
}
