#signup-page {
  h2 {
    margin-left: 2rem;
    font-size: 1.3rem;
  }
  p {
    font-size: 1.3rem;
  }
}

.inputForm {
  width: 20rem;
  font-size: 1.2rem;
  margin: 0.9rem;
  color: black;
}

#signup-inputs {
  padding: 15px;
}
