@import "_editPopup";
@import "_listDisplay";
@import "_registerPage";
@import "_editPopup";
@import "_aboutUs";
@import "_imgExpand";
@import "_footer";
@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../assets/imgs/texturesWall.jpeg");
  background-repeat: repeat;
  background-size: auto;
}

.nav {
  background-color: rgba(235, 234, 201, 0.748) !important;
}

a {
  font-family: "glook";
}
h1 {
  font-family: "glook";
  text-align: center;
  text-decoration: underline;
  text-shadow: -1px -1px 1rem white, 1px -1px 1rem white, -1px 1px 1rem white,
    1px 1px 1rem white;
}

h2 {
  font-family: "glook";
}

h3 {
  font-family: "glook";
}

p {
  text-align: center;
  font-family: "roboto";
  font-weight: 400;
  font-size: 1.2rem;
}

nav {
  #navBarLogoImg {
    width: 10em;
  }

  #navbarNavAltMarkup {
    a {
      color: black;
      margin: 0 0.8rem 0 0.8rem;
      font-size: 1.4rem;
    }

    a:hover {
      transition: all 200ms ease-in-out;
      text-shadow: 0.5rem 0.5rem 10px rgba(43, 5, 72, 1);
    }
  }
}

.page {
  background-color: rgba(235, 234, 201, 0.6);
}

#photosCarousel {
  box-shadow: 0.6rem 0.6rem 1px 1px rgba(0, 0, 0, 0.5);
}

.displayBtn {
  background-color: rgba(43, 5, 72, 1) !important;
  border: none !important;

  &:hover {
    background-color: rgba(43, 5, 72, 1) !important;

    box-shadow: 0 0 5px 3px rgba(43, 5, 72, 1) !important;
  }
}

.sortBtn {
  &:hover {
    background-color: rgba(255, 255, 255, 0) !important;
    box-shadow: 0 0 5px 3px rgba(43, 5, 72, 1) !important;
    color: black !important;
  }
}

#addNewPhotoTitle {
  text-decoration: underline;
}

.form-control {
  $input-border-color: rgba(43, 5, 72, 1) !important;
}

.galleryImg {
  width: 18em !important;
  height: 12em !important;
}
