@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Roboto:wght@400;500&display=swap");
.edit-popup-div-window {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5450980392);
  z-index: 999;
}

.edit-popup-div-wrapper {
  width: 40%;
  height: 95%;
  margin: 1rem auto;
  background-image: url("/public/assets/imgs/emptyCanvas.png");
  background-repeat: repeat;
  background-size: auto;
  box-shadow: 0.4rem 0.4rem 2px 1px rgba(0, 0, 0, 0.5);
}

.editInputFields {
  width: 90%;
}

#editImgUrlDisplay {
  width: 75%;
  height: 50%;
  margin: 1em 2em 0 2em;
}

@media (max-width: 767px) {
  #editInputsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #editInputsContainer #editImgUrlDisplay {
    margin: 0;
    width: 100%;
    order: 1;
  }
  #editInputsContainer .editInputFields {
    width: 80%;
    order: 2;
  }
  #editInputsContainer .editBtn {
    order: 3;
  }
}
@media (min-width: 991px) {
  .listBtns {
    width: 15rem;
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .listImg {
    width: 12rem !important;
    height: 6rem !important;
  }
  .listDescription {
    display: block;
    margin-left: -15rem !important;
    text-align: left !important;
  }
  .listDescription h3 {
    font-size: 1.2rem;
  }
  .listDescription h6 {
    font-size: 1rem;
  }
  .listBtns {
    flex-direction: column !important;
    width: 10rem !important;
  }
}
@media (max-width: 768px) {
  .listGenItem {
    display: flex !important;
  }
  .listDescription {
    margin: 0;
    text-align: left;
  }
  .listDescription h3 {
    font-size: 0.8rem;
  }
  .listDescription h6 {
    font-size: 0.7rem;
  }
  .listImg {
    width: 10rem !important;
    height: 5rem !important;
  }
  .listBtns {
    flex-direction: column !important;
  }
}
@media (max-width: 445px) {
  .listBtns {
    flex-direction: row !important;
  }
}
#signup-page h2 {
  margin-left: 2rem;
  font-size: 1.3rem;
}
#signup-page p {
  font-size: 1.3rem;
}

.inputForm {
  width: 20rem;
  font-size: 1.2rem;
  margin: 0.9rem;
  color: black;
}

#signup-inputs {
  padding: 15px;
}

.edit-popup-div-window {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5450980392);
  z-index: 999;
}

.edit-popup-div-wrapper {
  width: 40%;
  height: 95%;
  margin: 1rem auto;
  background-image: url("/public/assets/imgs/emptyCanvas.png");
  background-repeat: repeat;
  background-size: auto;
  box-shadow: 0.4rem 0.4rem 2px 1px rgba(0, 0, 0, 0.5);
}

.editInputFields {
  width: 90%;
}

#editImgUrlDisplay {
  width: 75%;
  height: 50%;
  margin: 1em 2em 0 2em;
}

@media (max-width: 767px) {
  #editInputsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #editInputsContainer #editImgUrlDisplay {
    margin: 0;
    width: 100%;
    order: 1;
  }
  #editInputsContainer .editInputFields {
    width: 80%;
    order: 2;
  }
  #editInputsContainer .editBtn {
    order: 3;
  }
}
section {
  box-shadow: 0.2rem 0.2rem 1px 1px rgba(0, 0, 0, 0.5);
}
section h3 {
  text-decoration: underline;
  margin-left: 1rem;
}
section p {
  font-weight: 400;
  font-size: 1.2em;
  padding: 1rem;
}

.displayItem {
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.7);
  background-color: rgba(160, 158, 158, 0.2588235294);
  display: flex;
  justify-content: space-between;
  margin: 0.7rem 0 1rem 0;
}
.displayItem .aboutUsImg {
  width: 40vw;
  border-radius: 25px;
}
.displayItem p {
  text-align: left;
  padding: 1rem;
}

@media (max-width: 778px) {
  .displayItem {
    justify-content: center;
    flex-wrap: wrap;
  }
  .displayItem .aboutUsImg {
    width: 75vw;
    border-radius: 10px;
  }
}
#imgExpandPopup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6431372549);
  z-index: 998;
  display: flex;
}
#imgExpandPopup #expandWrapper {
  width: 90vw;
  height: 40vw;
  box-shadow: 0.2rem 0.2rem 1px 1px rgba(0, 0, 0, 0.5);
  margin: 2rem auto;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.6);
}
#imgExpandPopup #expandWrapper img {
  margin: 1em 0 5em 1em;
  box-shadow: 0.2rem 0.2rem 1px 1px rgba(0, 0, 0, 0.5);
}
#imgExpandPopup #expandWrapper #expandInfo {
  width: 50%;
  margin: 1em 0 1em 1em;
}
#imgExpandPopup #expandWrapper #expandInfo h3,
#imgExpandPopup #expandWrapper #expandInfo h6 {
  margin-left: 1em;
}

@media (max-width: 576px) {
  #imgExpandPopup #expandWrapper {
    width: 90vw;
    height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  #imgExpandPopup #expandWrapper img {
    margin: 0.5rem 0 0.5rem 0;
    width: 70vw;
  }
  #imgExpandPopup #expandWrapper #expandInfo {
    margin: 0 0 0.5rem 0;
    width: 70%;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  #imgExpandPopup #expandWrapper {
    width: 90vw;
    height: 70vh;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  #imgExpandPopup #expandWrapper img {
    margin: 0.5rem 0 0.5rem 0;
    width: 90%;
  }
  #imgExpandPopup #expandWrapper #expandInfo {
    margin: 0 0 0.5rem 0;
    width: 70%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #imgExpandPopup #expandWrapper img {
    margin: 1rem 0.5rem 0.5rem 0;
  }
  #imgExpandPopup #expandWrapper #expandInfo {
    margin: 1rem 0 0.5rem 0;
  }
}
@media (min-width: 992px) {
  #imgExpandPopup #expandWrapper h3 {
    font-size: 2rem;
  }
  #imgExpandPopup #expandWrapper h6 {
    font-size: 1.3rem;
  }
  #imgExpandPopup #expandWrapper img {
    margin: 1rem 0.5rem 0.5rem 0;
  }
  #imgExpandPopup #expandWrapper #expandInfo {
    margin: 1rem 0 0.5rem 0;
  }
}
@keyframes expand {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes coll {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
.expand {
  animation: expand 400ms ease;
}

.collapse {
  animation: coll 400ms ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/imgs/texturesWall.jpeg");
  background-repeat: repeat;
  background-size: auto;
}

a {
  font-family: "glook";
}

h1 {
  font-family: "glook";
  text-align: center;
  text-decoration: underline;
  text-shadow: -1px -1px 1rem white, 1px -1px 1rem white, -1px 1px 1rem white, 1px 1px 1rem white;
}

h2 {
  font-family: "glook";
}

h3 {
  font-family: "glook";
}

p {
  text-align: center;
  font-family: "roboto";
  font-weight: 400;
}

nav #navBarLogoImg {
  width: 10em;
}
nav #navbarNavAltMarkup a {
  color: black;
  margin: 0 0.8rem 0 0.8rem;
  font-size: 1.4rem;
}
nav #navbarNavAltMarkup a:hover {
  transition: all 200ms ease-in-out;
  text-shadow: 0.5rem 0.5rem 10px rgb(43, 5, 72);
}

.page {
  background-color: rgba(235, 234, 201, 0.6);
}

#photosCarousel {
  box-shadow: 0.6rem 0.6rem 1px 1px rgba(0, 0, 0, 0.5);
}

.displayBtn {
  background-color: rgb(43, 5, 72) !important;
  border: none !important;
}
.displayBtn:hover {
  background-color: rgb(43, 5, 72) !important;
  box-shadow: 0 0 5px 3px rgb(43, 5, 72) !important;
}

.sortBtn:hover {
  background-color: rgba(255, 255, 255, 0) !important;
  box-shadow: 0 0 5px 3px rgb(43, 5, 72) !important;
  color: black !important;
}

#addNewPhotoTitle {
  text-decoration: underline;
}/*# sourceMappingURL=index.css.map */