.edit-popup-div-window {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5450980392);
  z-index: 999;
}

.edit-popup-div-wrapper {
  width: 40%;
  height: 95%;
  margin: 1rem auto;
  background-image: url("/public/assets/imgs/emptyCanvas.png");
  background-repeat: repeat;
  background-size: auto;
  box-shadow: 0.4rem 0.4rem 2px 1px rgba(0, 0, 0, 0.5);
}

.editInputFields {
  width: 90%;
}

#editImgUrlDisplay {
  width: 75%;
  margin: 1em 2em 0 2em;
}

#editInputsContainer {
  /* background-color: #cbcbcb; */
}

@media (max-width: 767px) {
  #editInputsContainer {
    background-color: #cbcbcb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #editInputsContainer #editImgUrlDisplay {
    margin: 0;
    width: 100%;
    order: 1;
  }
  #editInputsContainer .editInputFields {
    width: 80%;
    order: 2;
  }
  #editInputsContainer .editBtn {
    order: 3;
  }
}
@media (min-width: 991px) {
  .listBtns {
    width: 15rem;
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .listImg {
    width: 12rem !important;
    height: 6rem !important;
  }
  .listDescription {
    display: block;
    margin-left: -15rem !important;
    text-align: left !important;
  }
  .listDescription h3 {
    font-size: 1.2rem;
  }
  .listDescription h6 {
    font-size: 1rem;
  }
  .listBtns {
    flex-direction: column !important;
    width: 10rem !important;
  }
}
@media (max-width: 768px) {
  .listGenItem {
    display: flex !important;
  }
  .listDescription {
    margin: 0;
    text-align: left;
  }
  .listDescription h3 {
    font-size: 0.8rem;
  }
  .listDescription h6 {
    font-size: 0.7rem;
  }
  .listImg {
    width: 10rem !important;
    height: 5rem !important;
  }
  .listBtns {
    flex-direction: column !important;
  }
}
@media (max-width: 445px) {
  .listBtns {
    flex-direction: row !important;
  }
}
#signup-page h2 {
  margin-left: 2rem;
  font-size: 1.3rem;
}
#signup-page p {
  font-size: 1.3rem;
}

.inputForm {
  width: 20rem;
  font-size: 1.2rem;
  margin: 0.9rem;
  color: black;
}

#signup-inputs {
  padding: 15px;
}

.edit-popup-div-window {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5450980392);
  z-index: 999;
}

.edit-popup-div-wrapper {
  width: 40%;
  height: 95%;
  margin: 1rem auto;
  background-image: url("/public/assets/imgs/emptyCanvas.png");
  background-repeat: repeat;
  background-size: auto;
  box-shadow: 0.4rem 0.4rem 2px 1px rgba(0, 0, 0, 0.5);
}

.editInputFields {
  width: 90%;
}

#editImgUrlDisplay {
  width: 75%;
  margin: 1em 2em 0 2em;
}

#editInputsContainer {
  /* background-color: #cbcbcb; */
}

@media (max-width: 767px) {
  #editInputsContainer {
    background-color: #cbcbcb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #editInputsContainer #editImgUrlDisplay {
    margin: 0;
    width: 100%;
    order: 1;
  }
  #editInputsContainer .editInputFields {
    width: 80%;
    order: 2;
  }
  #editInputsContainer .editBtn {
    order: 3;
  }
}
/* h2 {
  text-align: center;
} */
.displayItem {
  background-color: rgba(160, 158, 158, 0.2588235294);
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.displayItem .aboutUsImg {
  width: 40vw;
  border-radius: 25px;
}
.displayItem p {
  text-align: left;
  padding: 1rem;
}

@media (max-width: 778px) {
  .displayItem {
    justify-content: center;
    flex-wrap: wrap;
  }
  .displayItem .aboutUsImg {
    width: 75vw;
    border-radius: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

body {
  background-image: url("../assets/imgs/texturesWall.jpeg");
  background-repeat: repeat;
  background-size: auto;
}

.page {
  background-color: rgba(235, 234, 201, 0.6);
}/*# sourceMappingURL=index.css.map */